@charset "UTF-8";

@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf) format(opentype);
}

@font-face {
    font-family: 'Bebas Neue';
    src: url(BebasNeue-Regular.ttf) format(truetype);
}

:root {
    --cor0: #CCE9D7;
    --cor1: #99DEB1;
    --cor2: #71D88C;
    --cor3: #56A56C;
    --cor4: #193C2c;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'Bebas Neue', cursive;
    --fonte2: 'Android', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    font-family: 'Bebas Neue';
    color: white;
    text-align: center;
    min-height: 150px;
    padding-top: 30px;
    
}

header > h1 {
    text-shadow: 2px 3px 4px var(--cor4);
    color: white;
    margin-bottom: 20px;
}

nav {
    text-align: left;
}

nav > a {
    margin-left: 5px;
    margin-right: 5px;
    padding: 3px 3px 3px 3px;
    text-decoration: none;
    color: white;
    font: normal bold 13px Arial, Helvetica, sans-serif;
    transition-duration: 0.5s;
    border-radius: 5px;
    color: var(--cor3);
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor4);
    
}

header > p {
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 3px 4px var(--cor4);
    margin-bottom: 20px;
}

h2 {
    font-family: var(--fonte2);
    color: var(--cor4);
    
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor1) transparent);
}

main {
    font-family: var(--fonte0);
    background-color: white;
    padding: 10px 0px 0px 10px;
    margin: auto;
    
    min-width: 320px;
    max-width: 800px;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
}


article a {
    font-weight: bold;
    text-decoration: none;
    color: var(--cor3);
    border-radius: 5px;
}

article a:hover {
   background-color: var(--cor4);
   color: var(--cor3);
   
}

#corpo {
    font-family: var(--fonte2);
    color: var(--cor4);
    font-weight: normal;
}

.vid {
    min-height: 157px;
    max-height: 315px;
    min-width: 285px;
    max-width: 570px;
    padding-bottom: 40%;
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    margin: auto;
    position: relative;
    
}

.vid > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}

aside > h3 {
    background-color: var(--cor3);
    color: white;
    font-weight: bold;
    border-radius: 5px 5px 0px 0px;
    font-size: 1em;
    text-align: center;
    
}

aside {
    background-color: var(--cor1);
    border-radius: 5px;
    text-indent: 10px;
    margin: 30px;
    
}

aside > ul {
    list-style-position: inside;
    columns: 2;
}

footer {
    text-align: center;
    background-color: var(--cor4);
    color: white;
    font-family: var(--fonte0);
    font-size: 0.8em;

}